@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(#0f2027, #203a43, #2c5364); */
  background : url("https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?cs=srgb&dl=blue-blur-color-dark-932638.jpg&fm=jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "open sans", sans-serif;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dae1e7;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.bigger-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  width: 216px;
  height: 216px;
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: #010f1c; 
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 50%;
}

.pointer-circle {
  background-color: #dae1e7;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: block;
}


.pointer-container {
  position: absolute;
  top: -28px;
  left: 93px;
  width: 14px;
  height: 128px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
